html,body {
  background-color: white;
  height:100%;
  width:100%;
}
body {
  background-color:#f3f3f3;
}

canvas {   display : block;   margin : auto;}

@media all and (min-width:801px) {
  .regForm {

    padding-left: 0;
    width:500px;
    height:30px;
    margin-bottom: 20px;
    display:block;
    margin: 0px auto;
  }
  #hofTable {
    align: center;
    margin:0px auto;
  }
  nav {
    width: 100%;
    text-align: center;
  }
  .navibar {
    width:100%;

    display: block;
  }

  }



@media all and (max-width:800px) {

  #hofTable {
    width:100%;

     }


  .regForm {

    padding-left: 0;
    width:100%;
    height:30px;
    margin-bottom: 20px;
    display:block;

  }
}
@media all and (max-width:1200px) {

  #naviGame{display:none;}
  #status{display:none;}
}
ul.navibar {

    list-style-type: none;

    margin: auto;
    padding: 0;
    margin-bottom: 50px;

    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}
#status {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111111;
}


.item {
  width:600px;
  background: #999999;
  height:30px;
  padding-left: 10px;
  padding-right: 10px;
  font-size:23px;
  line-height:30px;
  margin: 0 0 4px 0;
  overflow: hidden;
   }

 .right,#status {

   float:right;

 }
.button {
  align-self: center;
  margin: 0px auto;
  display:block;
}
#print_one {
  align-self: center;
  margin: 0px auto;
  display:block;
}
